<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Async Inn</title>
    <link href="~/Reset.css" rel="stylesheet" />
    <link href="~/BaseStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="pad-top-l">
        <h1 class="welcome">Welcome to the <span class="logo">ASYNC INN</span> Admin Page</h1>
    </div>
    <ul class="navigation">
        <li><a href="~/" class="nav-s">Home</a></li>
        <li><a href="~/Hotels" class="nav-s">Hotels</a></li>
        <li><a href="~/Rooms" class="nav-s">Rooms</a></li>
        <li><a href="~/HotelRooms" class="nav-s">Room Details</a></li>
        <li><a href="~/RoomAmenities" class="nav-s">Room Amenities</a></li>
        <li><a href="~/Amenities" class="nav-s">Update Amenities</a></li>
    </ul>
    <div class="pad-top-s grey">
        <h1 class="welcome">Let's get started...</h1>
        <ul class="navigation">
            <li><a href="~/Hotels/Create" class="nav-s">Create A Hotel</a></li>
            <li><a href="~/Rooms/Create" class="nav-s">Create A Room</a></li>
            <li><a href="~/Amenities/Create" class="nav-s">Create An Amenity</a></li>
        </ul>
    </div>
</body>
</html>



