<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Async Inn</title>
    <link href="~/Reset.css" rel="stylesheet" />
    <link href="~/BaseStyles.css" rel="stylesheet" />
</head>
<body>
    <h1 class="welcome">Welcome to the <span class="logo">ASYNC INN</span> Admin Page</h1>

    <ul class="navigation">
        <li><a href="~/">Home</a></li>
        <li><a href="~/Hotels">Hotels</a></li>
        <li><a href="~/Rooms">Rooms</a></li>
        <li><a href="~/HotelRooms">Room Details</a></li>
        <li><a href="~/RoomAmenities">Room Amenities</a></li>
        <li><a href="~/Amenities">Update Amenities</a></li>
    </ul>
</body>
</html>



