@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    background-color: #252525;
    color: white;
}

a {
    font-variant-caps: all-petite-caps;
    font-size: 2vw;
    color: white;
    text-decoration: none;
}

.center {
    margin: auto;
}

td {
    padding: 0 2vw 0 2vw;
}

.table {
    margin: auto;
}

th {
    margin-right: 2vw;
}

a:hover {
    background: -webkit-linear-gradient(#00abff, #006cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

a.nav-s:hover {
    border-left: 0.3rem solid white;
    border-radius: 1rem;
    padding-left: 1vw;
}

.pad-top-s {
    padding-top: 2.5vw;
}

.pad-top-m {
    padding-top: 5vw;
}

.pad-top-l {
    padding-top: 10vw;
}

.pad-top-xl {
    padding-top: 15vw;
}

.center {
    text-align: center;
}

.welcome {
    font-size: 3.5vw;
}

.logo {
    font-family: 'Staatliches', Impact, Arial;
    font-size: 7vw;
    background: -webkit-linear-gradient(#00abff, #006cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.navigation {
    padding-top: 1vw;
}

ul.navigation li {
    display: inline;
    padding-right: 2vw;
}

ul.navigation li:last-child {
    padding-right: 0;
}

.CRUD {
    font-variant-caps: all-petite-caps;
    font-size: 4vw;
    padding-bottom: 3vw;
}