@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    background-color: #252525;
    color: white;
    min-width: 680px;
}

a {
    font-variant-caps: all-petite-caps;
    font-size: 2vw;
    color: white;
    text-decoration: none;
}

a:hover {
    background: -webkit-linear-gradient(#00abff, #006cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

a.nav-s {
    display: inline-block;
    border-bottom: 0px solid transparent;
    transition: 0.8s ease;
    background-position: 100% center;
}

a.nav-s:hover {
    font-size: 3vw;
    border-bottom: 3px solid white;
}

.input {
    margin: 1vw;
    padding: 1vw 2vw 0vw 2vw;
}

.search {
    font-size: 2vw;
}

.button {
    margin: 1vw;
    padding: 0.5vw 1vw 0 1vw;
    border: 1px solid white;
    border-radius: 0.5vw;
    background-image: linear-gradient(#00abff, #006cff);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

.emphasize-caps {
    font-variant-caps: all-petite-caps;
    font-size: 3vw;
    background: -webkit-linear-gradient(#00abff, #006cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.on-page {
    background: -webkit-linear-gradient(#00abff, #006cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 3vw;
    border-bottom: 3px solid white;
    display: inline-block;
    transition: 0.3s ease;
    background-position: 100% center;
}

.on-page:hover {
    font-size: 2.5vw;
}

.center {
    margin: auto;
}

td {
    padding: 0 2vw 0 2vw;
}

.table {
    margin: auto;
}

/*th {
    margin-right: 2vw;
}*/

.pad-top-s {
    padding-top: 2.5vw;
}

.pad-top-m {
    padding-top: 5vw;
}

.pad-top-l {
    padding-top: 10vw;
}

.pad-top-xl {
    padding-top: 15vw;
}

.center {
    text-align: center;
}

.welcome {
    font-size: 3.5vw;
}

.grey {
    background-color: #373737;
    width: 60vw;
    height: 10vw;
    margin: auto;
    margin-top: 3vw;
    border: 1px solid grey;
    border-radius: 0.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.logo {
    font-family: 'Staatliches', Impact, Arial;
    font-size: 7vw;
    background: -webkit-linear-gradient(#00abff, #006cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.navigation {
    padding-top: 1vw;
}

ul.navigation li {
    display: inline;
    padding-right: 2vw;
}

ul.navigation li:last-child {
    padding-right: 0;
}

.CRUD {
    font-variant-caps: all-petite-caps;
    font-size: 4vw;
    padding-bottom: 3vw;
}

/*@media (max-width: 680px) {
    .welcome {
        font-size: 4vw;
        padding-bottom: 3vw;
    }

    .logo {
        font-family: 'Staatliches', Impact, Arial;
        font-size: 10vw;
        background: -webkit-linear-gradient(#00abff, #006cff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ul.navigation li {
        display: block;
    }

    a.nav-s {
        display: block;
        font-size: 6vw;
        padding-bottom: 2vw;
    }

    .navigation {
        display: block;
    }

    a.nav-s:hover {
        font-size: 8vw;
        border-bottom: none;
    }
}*/