@model AsyncInn.Models.Hotel

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}
<h2 class="pad-top-s CRUD">Delete A Hotel</h2>
<div class="center">
    <dl class="center grey container-m">
        <h3 class="pad-top-s pad-bottom-s">Are you sure you want to delete this hotel?</h3>
        <div class="container-m auto-margin">
            <dd class="center">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dd class="center">
                @Html.DisplayFor(model => model.FormattedAddress)
            </dd>
            <dd class="center">
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="button" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </dl>
</div>