@model AsyncInn.Models.Hotel

@{
    ViewData["Title"] = "Edit";
}
<!DOCTYPE html>
<html>
<head>
    <title>Async Inn Admin: </title>
    <link href="~/Reset.css" rel="stylesheet" />
    <link href="~/BaseStyles.css" rel="stylesheet" />
</head>
<body>
    <h1 class="welcome">Welcome to the <span class="logo">ASYNC INN</span> Admin Page</h1>
    <ul class="navigation">
        <li><a href="~/" class="nav-s">Home</a></li>
        <li><a href="~/Hotels" class="on-page">Hotels</a></li>
        <li><a href="~/Rooms" class="nav-s">Rooms</a></li>
        <li><a href="~/HotelRooms" class="nav-s">Room Details</a></li>
        <li><a href="~/RoomAmenities" class="nav-s">Update Amenities</a></li>
        <li><a href="~/Amenities" class="nav-s">Amenities</a></li>
    </ul>

    <h2 class="pad-top-s CRUD">Edit A Hotel</h2>
    <div class="align-left">
        <div class="">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class=""></div>
                <input type="hidden" asp-for="ID" />
                <div class="grey container-l">
                    <div class="auto-margin pad-top-s pad-bottom-s">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label asp-for="Name" class=""></label></td>
                                        <td class="align-right">
                                            <input asp-for="Name" class="input" />
                                            <span asp-validation-for="Name" class=""></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label asp-for="StreetAddress" class=""></label></td>
                                        <td>
                                            <input asp-for="StreetAddress" class="input" />
                                            <span asp-validation-for="StreetAddress" class=""></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label asp-for="City" class=""></label></td>
                                        <td>
                                            <input asp-for="City" class="input" />
                                            <span asp-validation-for="City" class=""></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label asp-for="State" class=""></label></td>
                                        <td>
                                            <input asp-for="State" class="input" />
                                            <span asp-validation-for="State" class=""></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label asp-for="ZipCode" class=""></label></td>
                                        <td>
                                            <input asp-for="ZipCode" class="input" />
                                            <span asp-validation-for="ZipCode" class=""></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label asp-for="Phone" class=""></label></td>
                                        <td>
                                            <input asp-for="Phone" class="input" />
                                            <span asp-validation-for="Phone" class=""></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="center">
                                <input type="submit" value="Save" class="button" />
                                <p><a asp-action="Index" class="center">Back to List</a></p>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>