@model AsyncInn.Models.Amenities

@{
    ViewData["Title"] = "Delete";
}
<!DOCTYPE html>
<html>
<head>
    <title>Async Inn Admin: </title>
    <link href="~/Reset.css" rel="stylesheet" />
    <link href="~/BaseStyles.css" rel="stylesheet" />
</head>
<body>
    <h1 class="welcome">Welcome to the <span class="logo">ASYNC INN</span> Admin Page</h1>
    <ul class="navigation">
        <li><a href="~/" class="nav-s">Home</a></li>
        <li><a href="~/Hotels" class="nav-s">Hotels</a></li>
        <li><a href="~/Rooms" class="nav-s">Rooms</a></li>
        <li><a href="~/HotelRooms" class="nav-s">Room Details</a></li>
        <li><a href="~/RoomAmenities" class="nav-s">Update Amenities</a></li>
        <li><a href="~/Amenities" class="on-page">Amenities</a></li>
    </ul>

    <h2 class="pad-top-s CRUD">Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Amenities</h4>
        <hr />
        <dl class="center">
            <dt class="center">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>

</body>
</html>