@model AsyncInn.Models.Amenities

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}
<h2 class="pad-top-s CRUD">Edit Amenities</h2>
<div class="center">
    <div class="center">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class=""></div>
            <input type="hidden" asp-for="ID" />
            <div class="grey container-m">
                <div class="pad-top-s">
                    <label asp-for="Name" class=""></label>
                    <input asp-for="Name" class="input" />
                    <span asp-validation-for="Name" class=""></span>
                    <p><input type="submit" value="Save" class="button" /></p>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}