@model AsyncInn.Models.RoomAmenities

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<h2 class="pad-top-s CRUD">Add A New Amenity</h2>
<div class="center">
    <div class="center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class=""></div>
            <div class="grey container-m">
                <div class="pad-top-xs pad-bottom-s">
                    <label asp-for="AmenitiesID" class=""></label>
                    <select asp-for="AmenitiesID" class="input" asp-items="ViewBag.AmenitiesID"></select>
                </div>
                <div class="pad-bottom-xs">
                <label asp-for="RoomID" class=""></label>
                <select asp-for="RoomID" class="input" asp-items="ViewBag.RoomID"></select>
            </div>
            <div class="">
                <input type="submit" value="Create" class="button" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>