@model AsyncInn.Models.RoomAmenities

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}
<h2 class="pad-top-s CRUD">Delete An Amenity</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="center">
    <dl class="center">
        <dt class="">
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Amenities.Name)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AmenitiesID" />
        <input type="hidden" asp-for="RoomID" />
        <input type="submit" value="Delete" class="" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>