@model AsyncInn.Models.RoomAmenities

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}
<div class="center">
    <div class="center">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class=""></div>
            <input type="hidden" asp-for="AmenitiesID" />
            <input type="hidden" asp-for="RoomID" />
            <div class="">
                <input type="submit" value="Save" class="" />
            </div>
            <p class="center"><a asp-action="Index">Back to List</a></p>
        </form>
    </div>
</div>