@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<h2 class="pad-top-s CRUD">Add Hotel Room Details</h2>
<div class="center">
    <div class="center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class=""></div>
            <div class="grey container-m">
                <div class="pad-top-xs pad-bottom-xs ">
                    <label asp-for="HotelID" class=""></label>
                    <select asp-for="HotelID" class="input" asp-items="ViewBag.HotelID"></select>
                </div>
                <div class="pad-bottom-xs ">
                    <label asp-for="RoomID" class=""></label>
                    <select asp-for="RoomID" class="input" asp-items="ViewBag.RoomID"></select>
                </div>
                <div class="pad-bottom-xs ">
                    <label asp-for="RoomNumber" class=""></label>
                    <input asp-for="RoomNumber" class="pad-bottom-xs" />
                    <span asp-validation-for="RoomNumber" class="input"></span>
                </div>
                <div class="pad-bottom-xs ">
                    <label asp-for="Rate" class=""></label>
                    <input asp-for="Rate" class="pad-bottom-xs" />
                    <span asp-validation-for="Rate" class="input"></span>
                </div>
                <div class="pad-bottom-xs ">
                    <label class="">
                        <input class="" asp-for="PetFriendly" /> @Html.DisplayNameFor(model => model.PetFriendly)
                    </label>
                </div>
                <div class="">
                    <input type="submit" value="Create" class="button" />
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>