@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Edit";
}
<!DOCTYPE html>
<html>
<head>
    <title>Async Inn Admin: </title>
    <link href="~/Reset.css" rel="stylesheet" />
    <link href="~/BaseStyles.css" rel="stylesheet" />
</head>
<body>
    <h1 class="welcome">Welcome to the <span class="logo">ASYNC INN</span> Admin Page</h1>
    <ul class="navigation">
        <li><a href="~/" class="nav-s">Home</a></li>
        <li><a href="~/Hotels" class="nav-s">Hotels</a></li>
        <li><a href="~/Rooms" class="nav-s">Rooms</a></li>
        <li><a href="~/HotelRooms" class="on-page">Room Details</a></li>
        <li><a href="~/RoomAmenities" class="nav-s">Update Amenities</a></li>
        <li><a href="~/Amenities" class="nav-s">Amenities</a></li>
    </ul>

    <h2 class="pad-top-s CRUD">Edit Existing Hotel Room</h2>

    <hr />
    <div class="center">
        <div class="center">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class=""></div>
                <input type="hidden" asp-for="HotelID" />
                <input type="hidden" asp-for="RoomID" />
                <div class="">
                    <label asp-for="RoomNumber" class=""></label>
                    <input asp-for="RoomNumber" class="" />
                    <span asp-validation-for="RoomNumber" class=""></span>
                </div>
                <div class="">
                    <label asp-for="Rate" class=""></label>
                    <input asp-for="Rate" class="" />
                    <span asp-validation-for="Rate" class=""></span>
                </div>
                <div class="">
                    <label class="">
                        <input class="" asp-for="PetFriendly" /> @Html.DisplayNameFor(model => model.PetFriendly)
                    </label>
                </div>
                <div class="">
                    <input type="submit" value="Save" class="" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>